extends ../layout

block page_header
    link(rel='stylesheet', href='/home.css')

block content
    div(class="page vertical-align text-xs-center")
        div(class="page-content vertical-align-middle")
            div(class="brand")
                // img(class="brand-img", src="/img/brand/logo.jpg")
                h2(class="brand-text") Galaxy

            p(class="home-description") About 3 years ago programming absorbed me. I like frontend and backend development. I started work under the own project to learn and understand them deeply. I have had a long way to go before I could ​present it to the ​public.

            p Have account already? Please go to &nbsp;
                a(href="/signin") Sign In