extends ../layout

block page_header
    link(rel='stylesheet', href='/forgot-password.css')

block content
    div(class="page vertical-align text-xs-center")
        div(class="page-content vertical-align-middle")
            h2 Restore Your Password
            p Input your new password

            form(method="post")
                div(class="form-group")
                    input(type="password", class="form-control", name="password", placeholder="Your password", autofocus="true")
                div(class="form-group")
                    button(type="submit", class="btn btn-primary btn-block") Apply

            if locals.errorMessage
                div(class="alert dark alert-danger alert-dismissible") #{locals.errorMessage}
            if locals.successMessage
                p Please go to &nbsp;
                    a(href="/signin") Sign In
                    
                div(class="alert dark alert-success alert-dismissible") #{locals.successMessage}
