extends ../layout
block content
    h1 Signup

    if locals.errorMessage
        p #{locals.errorMessage}
    if locals.successMessage
        p #{locals.successMessage}

    div
        form(method="POST")
            div
                input(type="text", name="email", required="true")
            div
                input(type="password", name="password", required="true")
            div
                button(type="submit") Signup