extends ../layout

block page_header
    link(rel='stylesheet', href='/signin.css')

block content
    div(class="page vertical-align text-xs-center")
        div(class="page-content vertical-align-middle")
            div(class="brand")
                // img(class="brand-img", src="/img/brand/logo.jpg")
                h2(class="brand-text") Galaxy

            p Sign in to find interesting thing

            form(method="post")
                div(class="form-group")
                    label(class="sr-only", for="email") Email
                    input(class="form-control", name="email", type="text", id="email", placeholder="youremail@mail.com")

                div(class="form-group")
                    label(class="sr-only", for="password") Password
                    input(class="form-control", name="password", type="password", id="password", placeholder="Password")

                div(class="form-group")
                    label(class="sr-only", for="confirm-password") Confirm password
                    input(class="form-control", name="confirm_password", type="password", id="confirm-password", placeholder="Confirm Password")

                button(class="btn btn-primary btn-block") Sign in

            p Still no account? Please go to
                a(href="/signup") Sign Up